:root {
    --primary-color-hue: 200; /* Changed from 252 to 200 for light blue */
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;

    --color-white: hsl(200, 30%, var(--white-color-lightness));
    --color-light: hsl(200, 30%, var(--light-color-lightness));
    --color-grey: hsl(200, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secondary: hsl(200, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(200, 30%, var(--dark-color-lightness));
    --color-black: hsl(200, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: 5.4rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-white);
    overflow-x: hidden;
}

/* =============== General Style ============== */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-grey);
}

/* =============== Navbar ============== */
nav {
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder {
    color: var(--color-grey);
}

/* =============== Main ============== */
main {
    position: relative;
    top: 5.4rem;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

/* =============== Left Sidebar ============== */
main .left {
    width: 18%;
    height: calc(100vh - 5.4rem);
    position: fixed;
    top: 5.4rem;
    left: 0;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    overflow-y: auto;
}

main .left .profile {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

.main .left .profile-photo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.left .sidebar {
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
    padding: 0.5rem 1rem;
}

.left .sidebar .menu-item:hover {
    background: var(--color-light);
}

.left .sidebar i {
    font-size: 1.4rem;
    color: var(--color-grey);
    margin-right: 1rem;
}

.left .sidebar h3 {
    font-size: 1rem;
    color: var(--color-dark);
}

.left .sidebar .active {
    background: var(--color-light);
}

.left .sidebar .active i, 
.left .sidebar .active h3 {
    color: var(--color-primary);
}

.left .sidebar .active::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
    left: 0;
}

.left .btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 0.7rem;
}

/* =============== Center Content ============== */
main .center {
    width: 60%;
    margin: 0 auto;
    padding: 0 20px;
}

.post-card-container {
    background: var(--color-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.post-input {
    margin-top: 20px;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    resize: none;
}

/* =============== Right Sidebar ============== */
main .right {
    width: 18%;
    height: calc(100vh - 5.4rem);
    position: fixed;
    top: 5.4rem;
    right: 0;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    overflow-y: auto;
}

.right .messages {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.right .messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages i {
    font-size: 1.4rem;
}

.right .messages .search-bar {
    display: flex;
    margin-bottom: 1rem;
}

.right .messages .category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages .category h6 {
    width: 100%;
    border-bottom: 4px solid var(--color-light);
    padding-bottom: 0.5rem;
    font-size: 0.75rem;
}

.right .messages .category .active {
    border-color: var(--color-dark);
}

.right .messages .message-requests {
    color: var(--color-primary);
}

.right .messages .message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.right .messages .message .profile-photo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.right .messages .message .message-body {
    flex: 1;
}

.right .messages .message p {
    font-size: 0.8rem;
    color: var(--color-grey);
}

/* =============== Card Footer ============== */
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--color-light);
    border-radius: var(--card-border-radius);
}

.card-footer .btn-group .btn {
    width: auto;
    margin-right: 0.5rem;
}

.card-footer .btn-group .btn svg {
    vertical-align: middle;
}

/* =============== Responsive Design ============== */
@media (max-width: 1200px) {
    main .left,
    main .right {
        width: 15%;
    }
    main .center {
        width: 70%;
    }
}

@media (max-width: 768px) {
    nav .search-bar {
        display: none;
    }
    main {
        flex-direction: column;
        align-items: center;
    }
    main .left,
    main .right {
        width: 100%;
        position: static;
        height: auto;
        box-shadow: none;
        margin-bottom: 20px;
    }
    main .center {
        width: 100%;
    }
}
